body {
  font-family: 'Roboto', sans-serif;
}

#login{
  display:none;
}

#register{
  display: none;
}

#chat{
  display:none;
}

#room{
  display:none;
}

#category{
  display:none;
}

#game{
  display:none;
}