<!DOCTYPE html>

<body id="{{pageId}}">
  <main class="container">
    <div class="row">
      <h1 class="center-align">{{title }}</h1>
      <h2 class="center-align">Branding Content</h2>
    </div>
  </main>
</body>
